In [1]:
niveis_co2 = {
    'AC': [325,405,429,486,402],
    'AL': [492,495,310,407,388],
    'AP': [507,503,368,338,400],
    'AM': [429,456,352,377,363],
    'BA': [321,508,372,490,412],
    'CE': [424,328,425,516,480],
    'ES': [449,506,461,337,336],
    'GO': [425,460,385,485,460],
    'MA': [361,310,344,425,490],
    'MT': [358,402,425,386,379],
    'MS': [324,357,441,405,427],
    'MG': [345,367,391,427,516],
    'PA': [479,514,392,493,329],
    'PB': [418,499,317,302,476],
    'PR': [420,508,419,396,327],
    'PE': [404,444,495,320,343],
    'PI': [513,513,304,377,475],
    'RJ': [502,481,492,502,506],
    'RN': [446,437,519,356,317],
    'RS': [427,518,459,317,321],
    'RO': [517,466,512,326,458],
    'RR': [466,495,469,495,310],
    'SC': [495,436,382,483,479],
    'SP': [495,407,362,389,317],
    'SE': [508,351,334,389,418],
    'TO': [339,490,304,488,419],
    'DF': [376,516,320,310,518], 
}

for estado in niveis_co2:
    qtde_sensores = len(niveis_co2[estado])
    total_co2 = sum(niveis_co2[estado])
    media_co2 = total_co2 / qtde_sensores
    if media_co2 > 450:
        print('{} está com níveis altíssimos de CO2 ({}), chamar equipe especializada para verificar a região.'.format(estado, media_co2))

RJ está com níveis altíssimos de CO2 (496.6), chamar equipe especializada para verificar a região.
RO está com níveis altíssimos de CO2 (455.8), chamar equipe especializada para verificar a região.
SC está com níveis altíssimos de CO2 (455.0), chamar equipe especializada para verificar a região.

In [7]:
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}
for produto, qtde in vendas_tecnologia.items():
    print('{}: {} unidades'.format(produto,qtde))

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
notebook dell: 17000 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades

In [11]:
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

In [13]:
for produto, qtde in vendas_tecnologia.items():
    if qtde > 5000:
        print('{}: {} unidades'.format(produto, qtde))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
notebook dell: 17000 unidades

In [15]:
chaves = vendas_tecnologia.keys()
valores = vendas_tecnologia.values()
print(chaves)
print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp'])
dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000])

In [19]:
vendas_tecnologia['liraphone'] = 10
print(chaves)
print(valores)
print(list(chaves))
print(list(valores))

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'liraphone'])
dict_values([2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10])
['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'notebook dell', 'ipad', 'tv philco', 'notebook hp', 'liraphone']
[2450, 15000, 12000, 10000, 14300, 1720, 17000, 1000, 2500, 1000, 10]

In [21]:
for chave in vendas_tecnologia:
     print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))
print('-' * 40)

lista_chaves = list(chaves)
lista_chaves.sort()

for chave in lista_chaves:
    print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
notebook dell: 17000 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
liraphone: 10 unidades
----------------------------------------
ipad: 1000 unidades
iphone: 15000 unidades
liraphone: 10 unidades
notebook asus: 2450 unidades
notebook dell: 17000 unidades
notebook hp: 1000 unidades
ps5: 14300 unidades
samsung galaxy: 12000 unidades
tablet: 1720 unidades
tv philco: 2500 unidades
tv samsung: 10000 unidades

In [23]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']
vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

lista_tuplas = zip(produtos, vendas)
dicionario_vendas = dict(lista_tuplas)
print(dicionario_vendas)

{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [25]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

#seu código aqui
vendas = zip((vendas2019, vendas2020))

vendas_produtos = dict(zip(produtos, vendas))
print(vendas_produtos)

{'iphone': ([558147, 712350, 573823, 405252, 718654, 531580, 973139, 892292, 422760, 154753, 887061, 438508, 237467, 489705, 328311, 591120],), 'galaxy': ([951642, 244295, 26964, 787604, 867660, 78830, 710331, 646016, 694913, 539704, 324831, 667179, 295633, 725316, 644622, 994303],)}